<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Librería - Libro</title>
  <!-- CSS Bootstrap -->
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="shortcut icon" th:href="@{/img/libro_logo.png}" />
</head>

<body>
  <header>
    <div class="container_header">
      <span>Contacto:</span> +549 (261) 000 0000
    </div>
  </header>
  <div class="contenedor_nav">
    <!-- Navigation -->
    <nav th:replace="/fragments/navbar :: nav"></nav>
  </div>

  <div class="title_libro">
    <h3>MENU LIBRO</h3>
  </div>

  <div class="container container-fluid">
    <a th:href="@{/libro/registrolibro}" class="btn-libro">Crear</a>
    <!--<a th:href="@{/libro/registrolibromodif}" class="btn-libro">Modificar</a>-->
    <a th:href="@{/libro/lista-libros}" class="btn-libro">Lista</a>
  </div>

  <div class="row py-lg-5">
    <div class="col col-lg-6 col-md-8">
      <input class="btn-libro" type="button" value="Volver" onClick="history.go(-1);">
    </div>
  </div>

  <!-- JS Bootstrap -->
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>