<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<!-- Head -->

<head th:replace="/fragments/head :: head"></head>

<body>
  <!-- Header -->
  <header th:replace="/fragments/header :: header"></header>

  <div class="contenedor_nav">
    <!-- Navigation -->
    <nav th:replace="/fragments/navbar :: nav"></nav>
  </div>

  <div class="title_libro">
    <h3>MENU LIBRO</h3>
  </div>

  <div th:if="${exito}!=null" class="card text-white bg-success mb-3">
    <div class="card-body">
      <h5 class="card-title">Exito</h5>
      <p class="card-text" th:text="${exito}"></p>
    </div>
  </div>
  <div th:if="${error}!=null" class="card text-white bg-danger mb-3">
    <div class="card-body">
      <h5 class="card-title">Error</h5>
      <p class="card-text" th:text="${error}"></p>
    </div>
  </div>

  <div class="contenedor_tabla">
    <table class="table table-light">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Fecha Préstamo</th>
          <th scope="col">Fecha Devolución</th>
          <th scope="col">Libro</th>
          <th scope="col">Usuario</th>
          <th scope="col">Alta</th>
          <th scope="col">Devolución</th>
        </tr>
      </thead>
      <tbody th:each="prestamo : ${prestamos}">
        <tr>
          <td th:text="${prestamo.id}">id</td>
          <td th:text="${prestamo.fechaPrestamo}">fecha prestamo</td>
          <td th:text="${prestamo.fechaDevolucion}">fecha devolución</td>
          <td th:text="${prestamo.libro.titulo}">libro</td>
          <td th:text="${prestamo.usuario.nombre + ' ' + prestamo.usuario.apellido}">usuario</td>
          <td>
            <i th:if="${prestamo.alta}" class="fas fa-circle text-success"></i>
            <i th:unless="${prestamo.alta}" class="fas fa-circle" style="color:red;"></i>
          </td>

          <td>
            <a th:href="@{/libro/devolver/__${prestamo.id}__}"><i class="fa fa-check"></i></a>           
          </td>

        </tr>

      </tbody>
    </table>

  </div>

  <div class="row py-lg-5">
    <div class="col col-lg-6 col-md-8">
      <input class="btn-libro" type="button" value="Volver" onClick="history.go(-1);">
    </div>
  </div>

  <!-- Footer -->
  <div class="footer-basic">
    <footer th:replace="/fragments/footer :: footer"></footer>
  </div>

  <!-- JS Bootstrap -->
  <script th:replace="/fragments/bootsjs :: script"></script>

</body>

</html>