<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<!-- Head -->

<head th:replace="/fragments/head :: head"></head>

<body>
  <!-- Header -->
  <header th:replace="/fragments/header :: header"></header>

  <div class="contenedor_nav">
    <!-- Navigation -->
    <nav th:replace="/fragments/navbar :: nav"></nav>
  </div>

  <div class="title_libro">
    <h3>MENU EDITORIAL</h3>
  </div>

  <div th:if="${exito}!=null" class="card text-white bg-success mb-3">
    <div class="card-body">
      <h5 class="card-title">Exito</h5>
      <p class="card-text" th:text="${exito}"></p>
    </div>
  </div>

  <div class="contenedor_tabla">
    <table class="table table-light">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Alta</th>
          <th scope="col">Editar</th>
        </tr>
      </thead>
      <tbody th:each="editorial : ${editoriales}">
        <tr>
          <td th:text="${editorial.id}">id</td>
          <td th:text="${editorial.nombre}">nombre</td>
          <td>
            <i th:if="${editorial.alta}" class="fas fa-circle text-success"></i>
            <i th:unless="${editorial.alta}" class="fas fa-circle" style="color:red;"></i>
          </td>
          <td>
            <a th:href="@{/editorial/alta/__${editorial.id}__}"><i class="fa fa-arrow-up"></i></a>
            <a th:href="@{/editorial/baja/__${editorial.id}__}"><i class="fa fa-ban"></i></a>
            <a th:href="@{/editorial/registro-editorialmodif/__${editorial.id}__}"><i class="fa fa-feather-alt"></i></a>
          </td>
        </tr>

      </tbody>
    </table>

  </div>

  <div class="row py-lg-5">
    <div class="col col-lg-6 col-md-8">
      <input class="btn-libro" type="button" value="Volver" onClick="history.go(-1);">
    </div>
  </div>

  <!-- Footer -->
  <div class="footer-basic">
    <footer th:replace="/fragments/footer :: footer"></footer>
  </div>

  <!-- JS Bootstrap -->
  <script th:replace="/fragments/bootsjs :: script"></script>

</body>

</html>