<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Librería - Lista Autores</title>
    <!-- CSS Bootstrap -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link href=https://use.fontawesome.com/releases/v5.6.3/css/all.css rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="shortcut icon" th:href="@{/img/libro_logo.png}" />
</head>

<body>
    <header>
        <div class="container_header">
            <span>Contacto:</span> +549 (261) 000 0000
        </div>
    </header>
    <div class="contenedor_nav">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <img src="./img/libro_logo.png" alt="" width="40">
              <a class="navbar-brand ps-2" href="/">Librería</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                  </li>
                  
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Libro
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/libro/registrolibro">Crear libro</a></li>
                      <li><a class="dropdown-item" href="/libro/lista-libros">Listar libros</a></li>
                      <!--<li><hr class="dropdown-divider"></li>-->
                    </ul>
                  </li>
      
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Autor
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/autor/registro-autor">Crear autor</a></li>
                      <li><a class="dropdown-item" href="/autor/lista-autores">Listar autores</a></li>
                    </ul>
                  </li>
      
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Editorial
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/editorial/registro-editorial">Crear editorial</a></li>
                      <li><a class="dropdown-item" href="/editorial/lista-editoriales">Listar editoriales</a></li>
                    </ul>
                  </li>
                  
                </ul>
                <form th:action="@{/libro/librobuscado}" method="POST" class="d-flex">
                  <input class="form-control me-2" type="text" id="titulo" name="titulo" placeholder="Buscar" aria-label="Buscar">
                  <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
              </div>
            </div>
          </nav>
    </div>

    <div class="title_libro">
        <h3>MENU AUTOR</h3>
    </div>
    
    <div th:if="${exito}!=null" class="card text-white bg-success mb-3">
        <div class="card-body">
            <h5 class="card-title">Exito</h5>
            <p class="card-text" th:text="${exito}"></p>
        </div>
    </div>
    
    <div class="contenedor_tabla">
        <table class="table table-light">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>                    
                    <th scope="col">Alta</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody th:each="autor : ${autores}">
                <tr>
                    <td th:text="${autor.id}">id</td>
                    <td th:text="${autor.nombre}">nombre</td>                    
                    <td>
						<i th:if="${autor.alta}" class="fas fa-circle text-success"></i>
						<i th:unless="${autor.alta}" class="fas fa-circle" style="color:red;"></i>
					</td> 
                    <td>
                    <a th:href= "@{/autor/alta/__${autor.id}__}"><i class="fa fa-arrow-up"></i></a>
                    <a th:href= "@{/autor/baja/__${autor.id}__}"><i class="fa fa-ban"></i></a>
                    <a th:href= "@{/autor/registro-autormodif/__${autor.id}__}"><i class="fa fa-feather-alt"></i></a>
                    </td>                              
                </tr>

            </tbody>
        </table>

    </div>

    <div class="row py-lg-5">
        <div class="col col-lg-6 col-md-8">
            <input class="btn-libro" type="button" value="Volver" onClick="history.go(-1);">            
        </div>
    </div>

    <!-- JS Bootstrap -->
    <script src="../static/js/bootstrap.bundle.min.js"></script>

</body>

</html>