<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<!-- Head -->

<head th:replace="/fragments/head :: head"></head>

<body>
    <!-- Header -->
    <header th:replace="/fragments/header :: header"></header>

    <div class="contenedor_nav">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="contenedor_logo container-fluid">
                <img src="./img/libro_logo.png" alt="" width="40">
                <a class="navbar-brand" href="/">Librería</a>
            </div>
            <div>
                <a href="/registro">Registrar</a>
                <a href="/login">Login</a>
            </div>
        </nav>
    </div>

    <div class="title">
        <h1>BIENVENIDO A TU LIBRERIA</h1>
    </div>


    <section>
        <div class="container_login">
            <h2 class="display-4">Ingresá a tu librería</h2>
            <form action="/logincheck" method="POST">
                <p th:if="${error != null}" th:text="${error}" style="color:red"></p>
                <p th:if="${logout != null}" th:text="${logout}" style="color:rgb(0, 0, 0)"></p>

                <label>E-Mail</label>
                <input type="email" class="form-control" name="username" />

                <label>Clave</label>
                <input type="password" class="form-control" name="password" />

                <br /><button type="submit" class="btn-libro">Ingresar</button>
            </form>
        </div>
    </section>

    <!-- Footer -->
    <div class="footer-basic">
        <footer th:replace="/fragments/footer :: footer"></footer>
    </div>

    <!-- JS Bootstrap -->
    <script th:replace="/fragments/bootsjs :: script"></script>
</body>

</html>
