<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<!-- Head -->

<head th:replace="/fragments/head :: head"></head>

<body>
    <!-- Header -->
    <header th:replace="/fragments/header :: header"></header>

    <div class="contenedor_nav">
        <!-- Navigation -->
        <nav th:replace="/fragments/navbar :: nav"></nav>
    </div>

    <div class="formulario">
        <h2 class="display-4">Actualiza tu perfil</h2>
        <form action="/usuario/actualizar-perfil" method="POST" enctype="multipart/form-data">


            <p th:if="${error != null}" th:text="${error}" style="color:red;"></p>

            <input type="hidden" name="id" th:value="${perfil.id}" />

            <label>DOCUMENTO</label>
            <input type="text" class="form-control" name="documento" th:value="${perfil.documento}" />

            <label>NOMBRE</label>
            <input type="text" class="form-control" name="nombre" th:value="${perfil.nombre}" />

            <label>APELLIDO</label>
            <input type="text" class="form-control" name="apellido" th:value="${perfil.apellido}" />

            <label>E-MAIL</label>
            <input type="email" class="form-control" name="mail" th:value="${perfil.mail}" />

            <label>FOTO</label>
            <input type="file" class="form-control" name="archivo" />

            <label>TELEFONO</label>
            <input type="text" class="form-control" name="telefono" th:value="${perfil.telefono}" />

            <label>CLAVE</label>
            <input type="password" class="form-control" name="clave1" />

            <label>REPETIR CLAVE</label>
            <input type="password" class="form-control" name="clave2" />

            <br /><button type="submit" class="btn-libro">Actualizar Perfil</button>
        </form>

    </div>

    <div class="row py-lg-5">
        <div class="col col-lg-6 col-md-8">
            <input class="btn-libro" type="button" value="Volver" onClick="history.go(-1);">
        </div>
    </div>

    <!-- Footer -->
    <div class="footer-basic">
        <footer th:replace="/fragments/footer :: footer"></footer>
    </div>

    <!-- JS Bootstrap -->
    <script th:replace="/fragments/bootsjs :: script"></script>
</body>

</html>