<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Librería - Editorial</title>
  <!-- CSS Bootstrap -->
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
  <header>
    <div class="container_header">
      <span>Contacto:</span> +549 (261) 000 0000
    </div>
  </header>
  <div class="contenedor_nav">
    <!-- Navigation -->
    <nav th:replace="/fragments/navbar :: nav"></nav>
  </div>

  <div class="title_libro">
    <h3> MENU EDITORIAL</h3>
  </div>

  <div th:if="${exito}!=null" class="card text-white bg-success mb-3">
    <div class="card-body">
      <h5 class="card-title">Exito</h5>
      <p class="card-text" th:text="${exito}"></p>
    </div>
  </div>
  <div th:if="${error}!=null" class="card text-white bg-danger mb-3">
    <div class="card-body">
      <h5 class="card-title">Error</h5>
      <p class="card-text" th:text="${error}"></p>
    </div>
  </div>

  <div class="formulario">
    <h2>MODIFICAR EDITORIAL</h2>
    <form th:action="@{/editorial/registro-editorialmodif/__${editorial.id}__}" method="POST">
      <input hidden th:value="${id}" name="id">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" th:value="${editorial.nombre}">
      </div>

      <button type="submit" class="btn-libro">Enviar</button>
    </form>
  </div>

  <div class="row py-lg-5">
    <div class="col col-lg-6 col-md-8">
      <input class="btn-libro" type="button" value="Volver" onClick="history.go(-1);">
    </div>
  </div>

  <!-- JS Bootstrap -->
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>