<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <img src="/img/libro_logo.png" alt="" width="40">
      <!--a class="navbar-brand ps-2" href="/inicio">Librería</a>-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" id="boton_inicio" aria-current="page" href="/inicio">Inicio</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Libro
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/libro/registrolibro">Crear libro</a></li>
              <li><a class="dropdown-item" href="/libro/lista-libros">Lista libros</a></li>              
              <li><a class="dropdown-item" th:href="@{/libro/prestamo(id=__${session.usuariosession.id}__)}" th:if="${session.usuariosession != null}">Préstamos</a></li>
              <li><a class="dropdown-item" href="/libro/lista-prestamos">Lista préstamos</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Autor
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/autor/registro-autor">Crear autor</a></li>
              <li><a class="dropdown-item" href="/autor/lista-autores">Lista autores</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Editorial
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/editorial/registro-editorial">Crear editorial</a></li>
              <li><a class="dropdown-item" href="/editorial/lista-editoriales">Lista editoriales</a></li>
            </ul>
          </li>
          <li>
            <form th:action="@{/libro/librobuscado}" method="POST" class="buscador d-flex">
              <input class="form-control me-2" type="text" id="titulo" name="titulo" placeholder="Buscar por título" aria-label="Buscar">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
          </li>
          
        </ul>
        <img th:if="${session.usuariosession.foto != null}" class="bd-placeholder-img card-img-top" th:src="${'/foto/usuario?id=' + session.usuariosession.id}" style="width: auto; height: 60px;">
        <img th:if="${session.usuariosession.foto == null}" class="bd-placeholder-img card-img-top" src="/img/usuario.jpg" style="width: auto; height: 60px;">
        <a th:href="@{/usuario/editar-perfil(id=__${session.usuariosession.id}__)}" th:if="${session.usuariosession != null}"class="nav-link">Configura tu perfil</a>
      </div>
      <a class="nav-link" href="/logout" th:if="${session.usuariosession != null}" >SALIR</a>
    </div>
  </nav>