.title {
	display: flex;
	justify-content: center;
	align-items: center;
    padding: 30px 30px;
    color: #ffffff;
    text-align: center;
    background-color:#276873
}

.title h2 {
	padding-bottom: 0;
	margin-left: 10px;
	margin-right: 10px;
}

.title_libro {
	padding: 10px 10px;
    color: #ffffff;
    text-align: center;
    background-color:#276873
}

.title_libro h3 {
	margin-bottom: 0;
}

h2 {
    padding-bottom: 20px;
	margin-bottom: 0;
}

.formulario {    
    display: block;
    max-width: 500px;
    padding-top: 50px;
    padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 50px;
	margin: auto;
	margin-top: 10px;
	background-color: #d9eaf0;
	border-radius: 30px;
	text-align: center;
	font-weight: bold;
}

.container {
    background-color: #d9eaf0;    
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
	border-radius: 30px;
	margin-top: 10px;
}

.container a {
    margin-right: 25px;
	margin-left: 25px;
}

.btn-libro, #volver {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.btn-libro, #volver:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.btn-libro, #volver:active {
	position:relative;
	top:1px;
}

.formulario .btn-libro {
	margin-top: 30px;
}

.container_header {
	color: #d9eaf0;
	background-color: #408c99;
	text-align: center;
	margin-top:5px;
}

#volver {
	border: none !important;
}

.row, .col {
	display: flex;
	justify-content: right;
}

.col {
	margin-right: 15%;
}

.btn-crear {
	display: flex;
	justify-content: left;
	vertical-align: middle;
	padding-top: 5px;
}

.contenedor_tabla {
	display: block;
	justify-content: center;
	margin: auto;
	padding: 50px;
	padding-right: 200px;
	padding-left: 200px;	
}

.table {
	text-align: center;
	border: solid 1px #276873;
	border-radius: 30px;
}

.contenedor_logo, .d-flex {
	justify-content:left !important;
}

.contenedor_logo a {
	padding-left: 5px;
}

.container_login {
	display: block;
	margin: auto;
	margin-top: 20px;
	max-width: 700px;
	background-color: #d9eaf0;    
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
	border-radius: 30px;
}

.container_login form {
	padding-left: 50px;
	padding-right: 50px;
}

.container_registrologin {
	display: block;
	margin: auto;
	margin-top: 200px;
	max-width: 700px;
	background-color: #d9eaf0;    
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
	border-radius: 30px;
	color: #ffffff;
}

.buscador {
	padding-left: 10px;
}

.footer-basic {
	padding:40px 0;
	background-color:#ffffff;
	color:#4b4c4d;
  }
  
.footer-basic ul {
	padding:0;
	list-style:none;
	text-align:center;
	font-size:18px;
	line-height:1.6;
	margin-bottom:0;
}
  
.footer-basic li {
	padding:0 10px;
}
  
.footer-basic ul a {
	color:inherit;
	text-decoration:none;
	opacity:0.8;
}
  
.footer-basic ul a:hover {
	opacity:1;
}
  
.footer-basic .social {
	text-align:center;
	padding-bottom:25px;
}
  
.footer-basic .social > a {
	font-size:24px;
	width:40px;
	height:40px;
	line-height:40px;
	display:inline-block;
	text-align:center;
	border-radius:50%;
	border:1px solid #ccc;
	margin:0 8px;
	color:inherit;
	opacity:0.75;
}
  
.footer-basic .social > a:hover {
	opacity:0.9;
}
  
.footer-basic .copyright {
	margin-top:15px;
	text-align:center;
	font-size:13px;
	color:#aaa;
	margin-bottom:0;
}

/* sign in y sing up agregado despues*/
.body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: top;
	padding-top: 50px;
	min-height: 70vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #69acb8, #3f8895, #276873);
}
.body .main{
	width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
.body #chk{
	display: none;
}
.body .signup{
	position: relative;
	width:100%;
	height: 100%;
}
.body label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 45px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
.body input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
.body button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #174e58;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.body button:hover{
	background: #1f6b79;
}
.body .login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.body .login label{
	color: #123f47;
	transform: scale(.6);
}

.body #chk:checked ~ .login{
	transform: translateY(-500px);
}
.body #chk:checked ~ .login label{
	transform: scale(1);	
}
.body #chk:checked ~ .signup label{
	transform: scale(.6);
}

#boton_inicio {
	font-weight: bold;
	color: rgb(223, 23, 23);
}

.carousel-item {
	display: inline-block;
}